body {
  color:black;
  background: rgb(203,67,194);
  font-family: "Pirata One"; sans-serif
}
header{
      border-bottom: solid 2px rgb(249, 40, 218);
      padding: 20px;
      font-size: 38px;
      color: rgb(149, 27, 131);
}
.chamada{      
  background: rgb(184, 156, 213);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
.chamada-texto{
  margin-right: 5%;
}
img {
  height: 200px;
}
.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}
.categoria {
  padding-left: 20px;
  padding-right: 20px;
}
.categoria-videos img{
  opacity: 0.5;
  height: 200px;
}            
.categoria-videos img:hover{
  opacity: 1.0;
  border: 1px solid white;
}